name: test

on:
    workflow_dispatch:
    push:

jobs:
    test:
        name: test
        runs-on: ubuntu-24.04
        permissions:
          contents: write
          actions: read
        steps:
          - name: Check out repository
            uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
            with:
              fetch-depth: 0

          - name: Get latest pre-release name
            id: get_latest_prerelease
            env:
              GITHUB_TOKEN: ${{ github.token }}
            run: |
              latest_release=$(gh release list --json name,tagName,isDraft,isPrerelease -L 1)
              is_latest_prerelease=$(jq -r '.[0].isPrerelease' <<< $latest_release)
              echo "is_latest_prerelease=$is_latest_prerelease" >> $GITHUB_OUTPUT

              if [ "$is_latest_prerelease" != "true" ]; then
                  echo "No pre-release found"
                  exit 0
              fi

              latest_prerelease_version=$(jq -r '.[0].tagName' <<< $latest_release)
              echo "latest_prerelease_version=$latest_prerelease_version" >> $GITHUB_OUTPUT

          - name: Make GitHub release latest and non-pre-release
            id: make_release
            env:
              TAG: ${{ steps.get_latest_prerelease.outputs.latest_prerelease_version }}
              GH_TOKEN: ${{ github.token }}
            run: |
              gh release edit $TAG --latest